<div class="file-drop">
    <h5>Drop File</h5> 
    <div id="drop-target" (dragover)="dragOverHandler($event)" (drop)="dropHandler($event)"></div>
    <!-- TIP: Any event in angular is surrounded by parentheses ex. (drop) -->
</div>


<div>
    <label for="taskTitle">Title</label>
    <input type="text" id="taskTitle" #taskTitle />
    <label for="taskDescription">Description</label>
    <input type="text" id="taskDescription" #taskDescription />
    
    <button type="submit" (click)="addTask(taskTitle.value, taskDescription.value)">Submit</button>
</div>

<!-- The list -->
<ul class="to-do-list">
    <div *ngFor="let task of taskList">
        <li *ngIf="!task.completed">
            <h4>{{task.title}}</h4>
            <p>{{task.description}}</p>
            <button (click)="removeTask(task.title)">Delete</button>
            <button (click)="taskCompleted(task)">Completed</button>
        </li>
    </div>
</ul>

<!-- The tasks completed list -->
<ul class="completed-list">
    <div *ngFor="let task of taskList">
        <li *ngIf="task.completed">
            <h4>{{task.title}}</h4>
            <p>{{task.description}}</p>
        </li>
    </div>
</ul>